---
---
/* --- Variables --- */
$text-font: sans-serif;
$title-font: serif;

$primary-color: #333;
$secondary-color: rgb(75, 97, 104);

html {
  box-sizing: border-box;
}

* { 
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 1.5em;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}


/* --- Masthead --- */
.Masthead {
  text-align: center;
  border-bottom: 1px solid $primary-color;
  padding: 1em;
  background: white;

  &Logo {
    margin: 0;
  }
  &Nav{
    &-Item{
      margin: 0 .5em;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    width: 50em;
    max-width: 80vw;
    margin: 0 auto;
  }
}